.TopBar{
  min-height: 5rem;
  background-color: lightblue;
  align-items: center;
  display: flex;
}
.SearchForm{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.Search{
  margin-left: auto;
  background-color: white;
  border: solid lightgrey 1px;
  height: 2rem;
  font-size: 1rem;
  margin-right: .5rem;
  border-radius: 10px;
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
}
.SearchButton{
  height: 2.15rem;
  min-width: 2rem;
  background-color: lightcoral;
  border: solid lightgrey 1px;
  color: white;
  margin-right: auto;
  border-radius: 10px;
}
.SearchButton:hover{
  background-color: lightgrey;
}
.player{
  box-shadow: 5px 5px lightgrey;
  border: solid 1px lightgrey;
  /* align-items: center;
  justify-content: center; */
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  margin-top: 3.5rem;
  animation: fadeIn 1s;
}
.playerInfo{
  font-size: 4rem;
  
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.playerPic{
  border-radius: 70%;
  border: solid gray 1px;
  margin-right: 7rem;
  margin-top: -2.5rem;
  float: left;
}

@keyframes fadeIn{
  from {margin-top: 3rem;}
  to {margin-top: 3.5rem;}
  from {opacity: 10%;}
  to {opacity: 100%;}
}